pkgbase = setroubleshoot
	pkgdesc = Helps troubleshoot SELinux problems
	pkgver = 3.3.37
	pkgrel = 1
	url = https://gitlab.com/setroubleshoot/setroubleshoot
	arch = x86_64
	arch = aarch64
	groups = selinux
	license = GPL-2.0-or-later
	makedepends = intltool
	makedepends = python-setuptools
	makedepends = python-pip
	makedepends = desktop-file-utils
	makedepends = git
	depends = gtk3
	depends = libnotify
	depends = python
	depends = python-gobject
	depends = python-dasbus
	depends = xdg-utils
	depends = setroubleshoot-plugins
	depends = audit
	depends = python-audit
	depends = libselinux
	depends = policycoreutils
	depends = python-systemd
	depends = dbus
	depends = python-dbus
	depends = polkit
	depends = python-distro
	depends = hicolor-icon-theme
	depends = selinux-python
	depends = glib2
	depends = glibc
	depends = libcap-ng
	optdepends = libreport: support for automatic bug reporting
	source = https://gitlab.com/setroubleshoot/setroubleshoot/-/archive/3.3.37/setroubleshoot-3.3.37.tar.gz
	source = setroubleshoot.tmpfiles
	source = setroubleshoot.sysusers
	sha256sums = a8fa692670c262ffbe6efded1fc85b85b95d4d3e0e2625e1d8f82a1b6abe670a
	sha256sums = 4af9c5f65c258712d275794ca659a941011916cd846d35ed2fea17411cc929fd
	sha256sums = f3ff0f1467bf7342c5557002b13c5992e4f9178fcda3e8d33716f28e20c73496

pkgname = setroubleshoot
